@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white:  hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    font-size: 15px;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15%
}

.container{
    display: flex;
}

.card{
    padding: 4rem;
    min-height: 58vh;
    flex: 1;
    max-width: 21rem;
    min-width: 17rem;
    position:relative;
}

.sedan{
    background-color: var(--bright-orange);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.suv{
    background-color: var(--dark-cyan);
}

.luxury{
    background-color: var(--very-dark-cyan);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.car-type{
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.3rem
}

.description{
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;
}

.btn{
    position: absolute;
    bottom: 3rem;
    padding: 1.2em;
    border: none;
    width: 45%;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
}

.sedan-btn{
    color: var(--bright-orange);
}

.suv-btn{
    color: var(--dark-cyan)
}

.luxury-btn{
    color: var(--very-dark-cyan)
}


@media (max-width: 768px){
    body{
        margin: 0 5%;
    }
    .container{
        flex-direction: column;
        margin: 4rem auto;
    }
    .card{
        max-width: 32rem;
    }
    .sedan{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
    .luxury{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
}